<%- include("partials/header"); -%>

    <h1>About us</h1>
    <div class="jumbotron bg-cover" 
      style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url(https://placeimg.com/1000/480/tech)">  
          <div class="col-md-6 px-0">
          <h1 class="text-white display-4 font-italic">Help you to make right move...</h1>
          <p class="text-white lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold" style="color: #1abc9c;
                  " >Continue reading...</a></p>
        </div>
    </div> 
    
    <%- include("marketing"); -%>
    
<%- include("partials/footer") -%>